<section class="services section">
    <div class="container">

        <h2 class="services-title">ЧЕМ МЫ ЗАНИМАЕМСЯ?</h2>


        <ul class="services-list">

            <li class="services-list__item">
                <div class="services-list__box">
                    <svg class="services-list__img" width="60" height="40">
                        <use href="./images/icons.svg#icon-dom"></use>
                    </svg>
                </div>
                <p class="services-list__text">СТРОИТЕЛЬСТВО<br>ОФИСНЫХ ЗДАНИЙ</p>

            </li>

            <li class="services-list__item">
                <div class="services-list__box">
                    <svg class="services-list__img" width="60" height="40">
                        <use href="./images/icons.svg#icon-dom"></use>
                    </svg>
                </div>
                <p class="services-list__text">СТРОИТЕЛЬСТВО<br>ОФИСНЫХ ЗДАНИЙ</p>

            </li>

            <li class="services-list__item">
                <div class="services-list__box">
                    <svg class="services-list__img" width="60" height="40">
                        <use href="./images/icons.svg#icon-dom"></use>
                    </svg>
                </div>
                <p class="services-list__text">СТРОИТЕЛЬСТВО<br>ОФИСНЫХ ЗДАНИЙ</p>


            </li>

            <li class="services-list__item">
                <div class="services-list__box">
                    <svg class="services-list__img" width="60" height="40">
                        <use href="./images/icons.svg#icon-dom"></use>
                    </svg>
                </div>
                <p class="services-list__text">СТРОИТЕЛЬСТВО<br>ОФИСНЫХ ЗДАНИЙ</p>

            </li>
            <li class="services-list__item">
                <div class="services-list__box">
                    <svg class="services-list__img" width="60" height="40">
                        <use href="./images/icons.svg#icon-dom"></use>
                    </svg>
                </div>
                <p class="services-list__text">СТРОИТЕЛЬСТВО<br>ОФИСНЫХ ЗДАНИЙ</p>

            </li>
            <li class="services-list__item">
                <div class="services-list__box">
                    <svg class="services-list__img" width="60" height="40">
                        <use href="./images/icons.svg#icon-dom"></use>
                    </svg>
                </div>
                <p class="services-list__text">СТРОИТЕЛЬСТВО<br>ОФИСНЫХ ЗДАНИЙ</p>

            </li>

        </ul>
    </div>
</section>